.d-flex{id: "trip-#{trip.id}"}
  .p-2
    %label start:
    %span= trip.started_at&.strftime('%B %d, %Y')
  .p-2
    %label end:
    %span= trip.ended_at&.strftime('%B %d, %Y')
  .p-2
    %label duration:
    %span= trip.duration
  .ml-auto.p-2
    = link_to 'Delete trip', trip, remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
    = link_to 'Edit', edit_trip_path(trip) , remote: true, class: 'btn btn-primary'
