.d-flex[trip]{ class: trip.past ? 'not-active-trips' : 'active-trips' }
  .p-2
    %label= t('.label.started_at')
    %span= formated_date(trip.started_at)
  .p-2
    %label= t('.label.ended_at')
    %span= formated_date(trip.ended_at)
  .p-2
    %label= t('.label.duration')
    %span= trip.duration
    - if trip.within_breakpoint?
      (
      %span.not-active-trips= t('.invalid', count: trip.before_breakpoint)
      = "/"
      %span.active-trips= t('.valid', count: trip.after_breakpoint)
      )
  .p-2.font-italic
    = "( #{trip.country_names} )"
  .ml-auto.p-2
    = link_to edit_trip_path(trip) , remote: true, class: 'btn btn-primary btn-icon-split' do
      %span.icon.text-white-50
        %i.fas.fa-edit
      %span.text= t('.button.edit')
    = link_to '<i class="fa fa-trash"></i>'.html_safe, trip, remote: true, method: :delete, data: { confirm: t('.delete-confirm') }, class: 'btn btn-danger btn-circle margin-left'
