.container
  %h1
    = t('.greeting')

  = render 'new', trip: Trip.new

  %hr

.container#trips
  = render @trips

.container
  %hr

  - if CalculatorService.new(@trips).over_limit?
    = "You are over limit!!!"
  - else
    You already used #{CalculatorService.new(@trips).spent_days} days.
    You can still use #{CalculatorService.new(@trips).available_days} days.
