.container
  %h1
    = t('.greeting')

  = render 'new', trip: Trip.new

  %hr

.container#trips
  = render @trips

.container
  %hr

  - if @calculator.over_limit?
    = 'You are over limit!!!'
  - else
    You already used #{@calculator.spent_days} days.
    You can still use #{@calculator.available_days} days.
