.container
  %h1
    = t('.greeting')
  = render 'new', trip: Trip.new
  %hr
.container#trips
  = render @trips
.container
  %hr

  - if @calculator.over_limit?
    = t('.over-limit')
  - else
    = t('.message.used', count: @calculator.spent_days)
    = t('.message.available', count: @calculator.available_days)
