.container
  %h1
    = t('.greeting')

  = render 'new', trip: Trip.new

  %hr

.container#trips
  = render @trips

.container
  %hr

  - if @trips.over_limit?
    = "You are over limit of day by #{@trips.calculate_avaible_number_of_days} days"
  - else
    = "You can still use #{@trips.calculate_avaible_number_of_days} days"
