.container
  %h1
    = t('.greeting')

  = render 'new', trip: Trip.new

  %hr

.container#trips
  = render @trips

.container
  %hr

  - if Calculator.new(@trips).over_limit?
    = "You are over limit!!!"
  - else
    You already used #{Calculator.new(@trips).days_spent} days.
    You can still use #{Calculator.new(@trips).days_left} days.
