%h2= t('.title')
= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  = render 'devise/shared/error_messages', resource: resource
  .form-group
    = f.label :email, t('.label.email')
    %br
    = f.email_field :email, autofocus: true, autocomplete: 'email', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control'
  .actions
    = f.submit t('.submit'), class: 'btn btn-primary'
= render 'devise/shared/links'
