.container
  .col-md-9
    %h2= t('.title')
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render 'devise/shared/error_messages', resource: resource
      .form-group
        = f.label :username, t('.label.username')
        = f.text_field :name, autofocus: true, class: 'form-control'
      .form-group
        = f.label :email, t('.label.email')
        = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
      .form-group
        = f.label :password, t('.label.password')
        - if @minimum_password_length
          %em
            = t('.character-limit', limit: @minimum_password_length)
        = f.password_field :password, autocomplete: 'new-password', class: 'form-control'
      .form-group
        = f.label :password_confirmation, t('.label.password_confirmation')
        = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'
      .actions
        = f.submit t('.submit'), class: 'btn btn-primary'
    = render 'devise/shared/links'
