.container
  .col-md-9
    %h2= t('.title')
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = render 'devise/shared/error_messages', resource: resource
      = f.hidden_field :reset_password_token
      .form-group
        = f.label :password, t('.label.password')
        - if @minimum_password_length
          %em
            = t('.characters-limit', limit: @minimum_password_length)
        = f.password_field :password, autofocus: true, autocomplete: 'new-password', class: 'form-control'
      .form-group
        = f.label :password_confirmation, t('.label.password_confirmation')
        = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
      .actions
        = f.submit t('.submit'), class: 'btn btn-primary'
    = render 'devise/shared/links'
