.container
  .col-md-9
    %h2= t.('.title')
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render 'devise/shared/error_messages', resource: resource
      .form-group
        = f.label :email, t('.label.email')
        = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
      .actions
        = f.submit t('.submit'), class: 'btn btn-primary'
    = render 'devise/shared/links'
