.container
  .row.justify-content-center
    .col-xl-10.col-lg-12.col-md-9
      .card.o-hidden.border-0.shadow-lg.my-5
        .card-body.p-0
          .row
            .col-lg-6.d-none.d-lg-block.bg-password-image
            .col-lg-6
              .p-5
                .text-center
                  %h4.text-gray-900.mb-2
                    = t('.title')
                  .mb-4
                    = t('.statement')
                .user
                  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
                    .form-group
                      = f.input :email, autofocus: true, autocomplete: 'email', class: 'form-control', label: t('.label.email')
                    .actions
                      = f.submit t('.submit'), class: 'btn btn-primary btn-user btn-block'
                    %hr
                  .text-center
                    = render 'devise/shared/links'
