%p
  = t('.title', email: @resource.email)
%p
  = t('.text.information')
%p= link_to '.change-password', edit_password_url(@resource, reset_password_token: @token)
%p
  = t('.text.ignore')
%p 
  = t('.text.information-about-link')
