!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %title Travelator
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'admin', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        = link_to 'Travelator', root_path, class: 'navbar-brand'
        .navbar-collapse
          %ul.navbar-nav
            %li.nav-item
              = link_to t('.links.countries'), [:admin, :countries], class: 'nav-link'
            %li.nav-item
              = link_to t('.links.users'), [:admin, :users], class: 'nav-link'
        %ul.navbar-nav
          %li.nav-item
            = link_to t('.links.logout'), destroy_user_session_path, method: :delete

    .container-fluid
      = render 'shared/flash_messages'
      .container
        = yield
