!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %title Travelator
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        = link_to 'Travelator', root_path, class: 'navbar-brand'
        %ul.navbar-nav
          - if user_signed_in?
            .dropdown
              .dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
                %img.rounded-circle{alt: "Profile image", src: "#{current_user.image}",style: "width:40px;height:40px;"}
              .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
                -if current_user.admin?
                  %li.p-2.nav-item
                    %span.navbar-text
                      = t('.login-name')
                    %span
                      = current_user.name
                      %hr
                  %li.p-2.nav-item
                    = link_to t('.links.admin'), [:admin, @countries], class: 'nav-link'
                    %hr
                  %li.p-2.nav-item
                    = link_to t('.logout'), destroy_user_session_path, method: :delete, class: 'nav-link'
          - else
            %li.nav-item
              = link_to t('.login'), new_user_session_path, class: 'nav-link'

    = render 'layouts/flash'
    = yield
